{% extends 'users/includes/fullpage.html' %}

{% block title %}Login | eCommerce{% endblock %}

{% block content %}
<div class="slider-area ">
    <div class="slider-active">
    <div class="single-slider hero-overly1 slider-height d-flex align-items-center slider-bg1">
    <div class="container">
    <div class="row">
    <div class="col-xl-6 col-lg-8 col-md-8">
    <div class="hero__caption">
    <span>70% Sale off </span>
    <h1 data-animation="fadeInUp" data-delay=".4s">Furniture at Cost</h1>
    <p data-animation="fadeInUp" data-delay=".6s">Suspendisse varius enim in eros elementum
    tristique. Duis cursus, mi quis viverra ornare, eros
    dolor interdum nulla.</p>
    
    <div class="hero__btn" data-animation="fadeInUp" data-delay=".7s">
        <a href="{% url 'product_list' %}" class="border-btn">Discover More</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <section class="properties new-arrival fix">
    <div class="container">
    
    <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-10">
    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
    <h2>Popular products</h2>
    <P>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</P>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-xl-12">
    <div class="properties__button text-center">
    
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-Sofa-tab" data-toggle="tab" href="#nav-Sofa" role="tab" aria-controls="nav-Sofa" aria-selected="true">Sofa</a>
    <a class="nav-item nav-link" id="nav-Table-tab" data-toggle="tab" href="#nav-Table" role="tab" aria-controls="nav-Table" aria-selected="false">Table</a>
    <a class="nav-item nav-link" id="nav-Chair-tab" data-toggle="tab" href="#nav-Chair" role="tab" aria-controls="nav-Chair" aria-selected="false">Chair</a>
    <a class="nav-item nav-link" id="nav-Bed-tab" data-toggle="tab" href="#nav-Bed" role="tab" aria-controls="nav-Bed" aria-selected="false">Bed</a>
    <a class="nav-item nav-link" id="nav-Lightning-tab" data-toggle="tab" href="#nav-Lightning" role="tab" aria-controls="nav-Lightning" aria-selected="false">Lightning</a>
    <a class="nav-item nav-link" id="nav-Decore-tab" data-toggle="tab" href="#nav-Decore" role="tab" aria-controls="nav-Decore" aria-selected="false">Decore</a>
    </div>
    </nav>
    
    </div>
    </div>
    </div>
    <div class="row">
    
    <div class="tab-content" id="nav-tabContent">
    
        <div class="tab-content">
            {% for category, products in popular_products_by_category.items %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="nav-{{ category }}" role="tabpanel" aria-labelledby="nav-{{ category }}-tab">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="single-new-arrival mb-50 text-center">
                                    <div class="popular-img">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></h3>
                                        <span>₱{{ product.price }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>        
    
    
    <div class="visit-tailor-area fix">
    
    <div class="tailor-offers"></div>
    
    <div class="tailor-details">
    <h2>Best Furniture<br> manufacturer</h2>
    <p>Suspendisse varius enim in eros elementum
    tristique. Duis cursus, mi quis viverra ornare, eros
    dolor interdum nulla.</p>
    <p class="pera-bottom">Suspendisse varius enim in eros elementum
    tristique. Duis cursus, mi quis viverra ornare, eros
    dolor interdum nulla.</p>
    <a href="{% url 'product_list' %}" class="border-btn">Discover More</a>
    </div>
    </div>
    
    
    <div class="new-arrival new-arrival2">
    <div class="container">
    
  <!-- Assuming you have already passed 'latest_products' from your Django view -->
<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
            <h2>Latest Products</h2>
            <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
        </div>
    </div>
</div>

<div class="row">
    {% for product in latest_products %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".{{ forloop.counter }}">
                <div class="popular-img">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                <div class="popular-caption">
                    <h3><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></h3>
                    <span>₱{{ product.price }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

    
    <div class="row justify-content-center">
    <div class="room-btn">
        <a href="{% url 'product_list' %}" class="border-btn">Discover More</a>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="instagram-area">
    <div class="container-fluid">
    <div class="row align-items-center">
    <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="instra-tittle mb-40">
    <div class="section-tittle">
    <img src="assets/img/gallery/insta.png" alt>
    <h2>Get Inspired with Instagram</h2>
    <P class="mb-35">Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</P>
    <a href="{% url 'product_list' %}" class="border-btn">Discover More</a>
    </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-8">
    <div class="row no-gutters">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    <div class="single-instagram">
    <img src="assets/img/gallery/instra1.png" alt class="w-100">
    <a href="#"><i class="ti-instagram"></i></a>
    </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    <div class="single-instagram">
    <img src="assets/img/gallery/instra2.png" alt class="w-100">
    <a href="#"><i class="ti-instagram"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
      <!-- Assuming you have already passed 'latest_products' from your Django view -->
<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
            <h2>Top Products</h2>
            <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
        </div>
    </div>
</div>
    <div class="new-arrival new-arrival2">
    <div class="container">
    
        <div class="row">
            {% for product in top_products %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".{{ forloop.counter }}">
                        <div class="popular-img">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                        <div class="popular-caption">
                            <h3><a href="{% url 'product_details' product.id %}">{{ product.name }}</a></h3>
                            <span>₱{{ product.price }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
    <div class="row justify-content-center">
    <div class="room-btn">
        <a href="{% url 'product_list' %}" class="border-btn">Discover More</a>
    </div>
    </div>
    </div>
    </div>
    
    
    
    <div class="categories-area section-padding40 gray-bg">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
    <div class="cat-icon">
    <img src="assets/img/icon/services1.svg" alt>
    </div>
    <div class="cat-cap">
    <h5>Fast & Free Delivery</h5>
    <p>Free delivery on all orders</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
    <div class="cat-icon">
    <img src="assets/img/icon/services2.svg" alt>
    </div>
    <div class="cat-cap">
    <h5>Secure Payment</h5>
    <p>Free delivery on all orders</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
    <div class="cat-icon">
    <img src="assets/img/icon/services3.svg" alt>
    </div>
    <div class="cat-cap">
    <h5>Money Back Guarantee</h5>
    <p>Free delivery on all orders</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
    <div class="cat-icon">
    <img src="assets/img/icon/services4.svg" alt>
    </div>
    <div class="cat-cap">
    <h5>Online Support</h5>
    <p>Free delivery on all orders</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </main>

{% endblock %}
