{% extends 'users/includes/fullpage.html' %}

{% block title %}Login | eCommerce{% endblock %}

{% block content %}
<main>
<div class="slider-area ">
    <div class="slider-active">
    <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
    <div class="container">
    <div class="row">
    <div class="col-xl-6 col-lg-8 col-md-8">
    <div class="hero__caption hero__caption2">
    <h1 data-animation="fadeInUp" data-delay=".4s">Product details</h1>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Product details</a></li>
    </ol>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="product_image_area section-padding40">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-5">
                    <div class="product_slider_img">
                        <div id="vertical">
                            <div data-thumb="{{ product.image.url }}">
                                <img src="{{ product.image.url }}" class="w-100" alt="{{ product.name }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{ product.name }}</h3>
                        <h2>${{ product.price }}</h2>
                        <ul class="list">
                            <li>
                                <a class="active" href="#">
                                    <span>Category</span> : {{ product.category.name }}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Availability</span>: 
                                    {% if product.in_stock %}
                                        In Stock ({{ product.stock }} available)
                                    {% else %}
                                        Out of Stock
                                    {% endif %}
                                    
                                </a>
                            </li>
                        </ul>
                        <p>{{ product.description }}</p>
                        <div class="card_area">
                            <form method="post" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="product_count d-inline-block">
                                    <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                                    <input name="quantity" id="quantity-input" class="input-number" type="text" value="1" min="1" max="10">
                                    <span class="number-increment"> <i class="ti-plus"></i></span>
                                </div>
                                <div class="add_to_cart">
                                    {% if product.in_stock %}
                                        <button type="submit" class="btn" id="add-to-cart-btn">Add to Cart</button>
                                    {% else %}
                                        <button class="btn danger" disabled>Add to Cart</button>
                                    {% endif %}
                                </div>
                            </form>
                            <div class="social_icon">
                                <a href="#" class="fb"><i class="ti-facebook"></i></a>
                                <a href="#" class="tw"><i class="ti-twitter-alt"></i></a>
                                <a href="#" class="li"><i class="ti-linkedin"></i></a>
                            </div>
                        </div>
                        
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <section class="product_description_area">
    <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
    </li>
  
    <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Comments</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
    </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p>{{ product.description }}</p>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="row">
    <div class="col-lg-6">
    <div class="comment_list">
    <div class="review_item">
    <div class="media">
    <div class="d-flex">
    <img src="assets/img/gallery/review-1.png" alt />
    </div>
    <div class="media-body">
    <h4>Blake Ruiz</h4>
    <h5>12th Feb, 2017 at 05:56 pm</h5>
    <a class="reply_btn" href="#">Reply</a>
    </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    </div>
    <div class="review_item reply">
    <div class="media">
    <div class="d-flex">
    <img src="assets/img/gallery/review-2.png" alt />
    </div>
    <div class="media-body">
    <h4>Blake Ruiz</h4>
    <h5>12th Feb, 2017 at 05:56 pm</h5>
    <a class="reply_btn" href="#">Reply</a>
    </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    </div>
    <div class="review_item">
    <div class="media">
    <div class="d-flex">
    <img src="assets/img/gallery/review-3.png" alt />
    </div>
    <div class="media-body">
    <h4>Blake Ruiz</h4>
    <h5>12th Feb, 2017 at 05:56 pm</h5>
    <a class="reply_btn" href="#">Reply</a>
    </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="review_box">
    <h4>Post a comment</h4>
    <form class="row contact_form" action="https://preview.colorlib.com/theme/furn/contact_process.php" method="post" id="contactForm" novalidate="novalidate">
    <div class="col-md-12">
    <div class="form-group">
    <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" />
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" />
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" />
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
    </div>
    </div>
    <div class="col-md-12 text-right">
    <button type="submit" value="submit" class="btn">
    Submit Now
    </button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
    <div class="row">
    <div class="col-lg-6">
    <div class="row total_rate">
    <div class="col-6">
    <div class="box_total">
    <h5>Overall</h5>
    <h4>4.0</h4>
    <h6>(03 Reviews)</h6>
    </div>
    </div>
    <div class="col-6">
    <div class="rating_list">
    <h3>Based on 3 Reviews</h3>
    <ul class="list">
    <li>
    <a href="#">5 Star
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i> 01</a>
    </li>
    <li>
    <a href="#">4 Star
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i> 01</a>
    </li>
    <li>
    <a href="#">3 Star
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i> 01</a>
    </li>
    <li>
    <a href="#">2 Star
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i> 01</a>
    </li>
    <li>
    <a href="#">1 Star
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i> 01</a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    <div class="review_list">
    <div class="review_item">
    <div class="media">
    <div class="d-flex">
    <img src="assets/img/gallery/review-1.png" alt />
    </div>
    <div class="media-body">
    <h4>Blake Ruiz</h4>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    </div>
    <div class="review_item">
    <div class="media">
    <div class="d-flex">
    <img src="assets/img/gallery/review-2.png" alt />
    </div>
    <div class="media-body">
    <h4>Blake Ruiz</h4>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    </div>
    <div class="review_item">
    <div class="media">
    <div class="d-flex">
    <img src="assets/img/gallery/review-3.png" alt />
    </div>
    <div class="media-body">
    <h4>Blake Ruiz</h4>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    </div>
    </div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="review_box">
    <h4>Add a Review</h4>
    <p>Your Rating:</p>
    <ul class="list">
    <li>
    <a href="#">
    <i class="fa fa-star"></i>
    </a>
    </li>
    <li>
    <a href="#">
    <i class="fa fa-star"></i>
    </a>
    </li>
    <li>
    <a href="#">
    <i class="fa fa-star"></i>
    </a>
    </li>
    <li>
    <a href="#">
    <i class="fa fa-star"></i>
    </a>
    </li>
    <li>
    <a href="#">
    <i class="fa fa-star"></i>
    </a>
    </li>
    </ul>
    <p>Outstanding</p>
    <form class="row contact_form" action="https://preview.colorlib.com/theme/furn/contact_process.php" method="post" novalidate="novalidate">
    <div class="col-md-12">
    <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Your Full name" />
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="Email Address" />
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <input type="text" class="form-control" name="number" placeholder="Phone Number" />
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <textarea class="form-control" name="message" rows="1" placeholder="Review"></textarea>
    </div>
    </div>
    <div class="col-md-12 text-right">
    <button type="submit" value="submit" class="btn">
    Submit Now
    </button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <div class="categories-area section-padding40 gray-bg">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
    <div class="cat-icon">
    <img src="assets/img/icon/services1.svg" alt>
    </div>
    <div class="cat-cap">
    <h5>Fast & Free Delivery</h5>
    <p>Free delivery on all orders</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
    <div class="cat-icon">
    <img src="assets/img/icon/services2.svg" alt>
    </div>
    <div class="cat-cap">
    <h5>Secure Payment</h5>
    <p>Free delivery on all orders</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
    <div class="cat-icon">
    <img src="assets/img/icon/services3.svg" alt>
    </div>
    <div class="cat-cap">
    <h5>Money Back Guarantee</h5>
    <p>Free delivery on all orders</p>
    </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
    <div class="cat-icon">
    <img src="assets/img/icon/services4.svg" alt>
    </div>
    <div class="cat-cap">
    <h5>Online Support</h5>
    <p>Free delivery on all orders</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var quantityInput = document.getElementById('quantity-input');
        var addToCartBtn = document.getElementById('add-to-cart-btn');
        var maxStock = {{ product.stock }};

        // Set the initial max attribute
        quantityInput.setAttribute('max', maxStock);

        // Add an event listener to update max attribute on input change
        quantityInput.addEventListener('input', function () {
            var currentQuantity = parseInt(quantityInput.value);
            if (currentQuantity > maxStock) {
                quantityInput.value = maxStock; // Set the quantity to max if it exceeds stock
            } else if (currentQuantity < 0) {
                quantityInput.value = 0; // Set the quantity to 0 if it's less than 0
            }
            
        });

        // Add an event listener to disable/enable the Add to Cart button based on stock
        quantityInput.addEventListener('change', function () {
            var currentQuantity = parseInt(quantityInput.value);
            addToCartBtn.disabled = currentQuantity <= 0 || currentQuantity > maxStock;
        });
    });
</script>
    
 

{% endblock %}
